{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Inscription</h1>
            </div>
            <div class="card-body">
                {{ form_start(registrationForm) }}
                    <div class="mb-3">
                        {{ form_label(registrationForm.firstName) }}
                        {{ form_widget(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error">
                            {{ form_errors(registrationForm.firstName) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.lastName) }}
                        {{ form_widget(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error">
                            {{ form_errors(registrationForm.lastName) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.email) }}
                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error">
                            {{ form_errors(registrationForm.email) }}
                        </div>
                    </div>

                    <div class="mb-3">
                        {{ form_label(registrationForm.plainPassword) }}
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                        <div class="form-error">
                            {{ form_errors(registrationForm.plainPassword) }}
                        </div>
                    </div>

                    <div class="mb-3 form-check">
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                        {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        <div class="form-error">
                            {{ form_errors(registrationForm.agreeTerms) }}
                        </div>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">S'inscrire</button>
                    </div>
                {{ form_end(registrationForm) }}
            </div>
            <div class="card-footer text-center">
                <p class="mb-0">Vous avez déjà un compte ? <a href="{{ path('app_login') }}">Se connecter</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}